@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  outline: 1px solid red;
} */

/* hide scroll bar */
/* ::-webkit-scrollbar {
  display: none;
}

@-moz-document url-prefix() {
  html,
  body {
    scrollbar-width: none;
  }
} */

/* Rooms Gallery */
@font-face {
  font-family: Modesfa;
  src: url(./assets/fonts/Modesfa.ttf);
}

@font-face {
  font-family: Madera;
  font-weight: 400;
  src: url(./assets/fonts/Madera_Regular.ttf);
}

/* Paragraph */
@font-face {
  font-family: Madera;
  font-weight: 500;
  src: url(./assets/fonts/Madera_Medium.ttf);
}

@font-face {
  font-family: Madera;
  font-weight: 100;
  src: url(./assets/fonts/Madera_Light.ttf);
}

/* Title */
@font-face {
  font-family: Walbaum;
  src: url(./assets/fonts/Walbaum_Regular.ttf);
}

/*

Button Hover Mild - #b18e7d
Button Hover Primary - #806558
border color - #D5D1D1
footer bg - #3A1E13

*/

:root {
  --primary-100: #44302a;
  --primary-50: #635956;
  --primary-25: #736e6d;
  --primary-mild: #e7dad6;
  --text-white-text: #ffffff;
  --text-primary-text: #333;
  --text-black: #2a3039;
  --primary-hover: #d5d1d1;
  /* --main-hover: #806558; */

  --hover-pale: #b18e7d;
}

html {
  scroll-padding: 80px;
  overflow-x: hidden;
}

.font-modesfa {
  font-family: Modesfa !important;
}

.font-madera {
  font-family: Madera !important;
}

.font-walbaum {
  font-family: Walbaum !important;
}

.custom-container {
  padding: 0 20px;
}

.typo-text-black {
  color: var(--text-black);
}

.nav-link-typography {
  font-family: Walbaum;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.nav-link-footer-typography {
  font-family: Madera;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

/* Imports from Figma */

.typo-body {
  font-family: Madera;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 28.8px */
}

.typo-body-2 {
  font-family: Madera;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.typo-label-2 {
  font-family: Madera;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 21.6px */
}

.typo-display {
  font-family: Walbaum;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
}

.typo-room-card-title {
  font-family: Walbaum;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.typo-menu-lato {
  font-family: Madera;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 43.2px */
  color: var(--text-black);
}

.typo-menu {
  font-family: Madera;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 43.2px */
}

.typo-menu-2 {
  font-family: Madera;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.typo-section-title {
  font-family: Madera;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.typo-title {
  font-family: Walbaum;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 57.6px */
}

.book-now-btn {
  display: flex;
  height: 52px;
  padding: 14px 32px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid var(--primary-100, #44302a);
}

.flip-text {
  display: inline-block;
  cursor: pointer;
  height: 26px;
  text-decoration: none;
  overflow: hidden;
  color: #1a1a1a;
}
.flip-text:hover .text-block {
  transform: translateY(-100%);
}

.flip-text .text-block:last-child {
  /* color: #d3a13b; */
  color: #b18e7d;
  opacity: 0;
}

.flip-text:hover .text-block:last-child {
  opacity: 1;
}

.flip-text .text-block {
  transition: transform 0.35s ease-out, opacity 0.5s ease;
}

/* Features Section */

.card-option-bg {
  background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
  background-size: auto 100%;
  background-position: center;
  filter: brightness(0.5);
  background-repeat: no-repeat;
}

.card-option-active {
  flex: 2.5 !important;
}

.card-option:not(.card-option-active):hover {
  filter: brightness(0.8);
}

.card-option.card-option-active .card-option-bg {
  filter: brightness(1);
  transition: all 0.7s ease;
}
.opacity-show {
  opacity: 0 !important;
}

/* Flip Text */

.flip-text-white {
  display: inline-block;
  cursor: pointer;
  height: 26px;
  text-decoration: none;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.75);
}
.flip-text-white:hover .letter {
  transform: translateY(-100%);
}
.flip-text-white .block:last-child {
  color: white;
}

.flip-text-white .letter {
  display: inline-block;
  transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
}

/* Tailwind sm: */
@media only screen and (min-width: 640px) {
  .custom-container {
    padding: 0 40px 0 30px;
  }

  .typo-body {
    font-family: Madera;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 28.8px */
  }

  .typo-body-2 {
    font-family: Madera;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .typo-label-2 {
    font-family: Madera;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 21.6px */
  }

  .typo-display {
    font-family: Walbaum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
  }

  .typo-menu-lato {
    font-family: Madera;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 43.2px */
    color: var(--text-black);
  }

  .typo-menu {
    font-family: Madera;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 43.2px */
  }

  .typo-menu-2 {
    font-family: Madera;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .typo-section-title {
    font-family: Madera;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
  }
  .typo-title {
    font-family: Walbaum;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 57.6px */
  }
}

/* Outline-Button */

@media screen and (min-width: 600px) {
  .border-button {
    padding-bottom: 16px;
    padding-top: 11px;
    padding-left: 2rem;
    padding-right: 2rem;
    letter-spacing: 0.1em;
    border-width: 1px;
    border-color: var(--hover-pale);
    font-family: Madera !important;
    position: relative;
    isolation: isolate;
    color: var(--text-black);
    transition: color 450ms;
    overflow: hidden;
  }

  .border-button::after {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: var(--hover-pale);
    inset: 0;
    transform-origin: right;
    scale: 0 1;
    transition: scale 550ms;
  }

  .border-button:hover,
  .border-button:focus-visible {
    color: white;
  }

  .border-button:hover::after,
  .border-button:focus-visible::after {
    transform-origin: left;
    scale: 1 1;
  }
}

@media only screen and (max-width: 600px) {
  .border-button {
    padding-bottom: 16px;
    padding-top: 11px;
    padding-left: 2rem;
    padding-right: 2rem;
    letter-spacing: 0.1em;
    border-width: 1px;
    border-color: var(--hover-pale);
    font-family: Madera !important;
    position: relative;
    isolation: isolate;
    color: var(--text-black);
    transition: color 450ms;
    overflow: hidden;
  }

  /* .border-button::after {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: var(--hover-pale);
    inset: 0;
    transform-origin: right;
    transform: translateX(-100%);
    transition: all 300ms ease-in-out;
  }

  .border-button:active,
  .border-button:focus-visible {
    color: white;
  }

  .border-button:active::after,
  .border-button:focus-visible::after {
    transform-origin: left;
    transform: translateX(0%);
  } */
}

/* Input */

.input {
  border: none;
  border-bottom: 1px solid #ccc;
  color: #555;
  box-sizing: border-box;
}
.input:focus {
  outline: none;
}

.input:focus ~ .input_label {
  color: var(--hover-pale);
  transform: translateY(-10px);
  padding-bottom: 8px;
  font-size: 15px;
}

.input:focus + .input_underline {
  transform: scale(1, 1);
}

.input_underline {
  z-index: 10;
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 100%;
  background-color: var(--hover-pale);
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  transform-origin: left;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
}

.pagination li {
  color: black;
  list-style: none;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid transparent;
}

.pagination li.active {
  border: 1px solid var(--text-primary-text, #333);
}

.pagination li:hover:not(.active) {
  background-color: var(--primary-hover);
}

.multi-elli {
  --max-line: 2;
  display: -webkit-box;
  -webkit-line-clamp: var(--max-line);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.image {
  display: block;
  max-width: 100%;
  height: 100%;
}

.loading {
  filter: blur(10px);
  clip-path: inset(0);
}

.loaded {
  filter: blur(0px);
  transition: filter 0.6s linear;
}

.heroloaded {
  filter: blur(0px) brightness(0.5);
  transition: filter 0.6s linear;
}

.reduceBrightness {
  filter: blur(0px);
  transition: filter 0.3s linear;
  filter: brightness(0.5);
}
